/* Container tổng */
.add-user {
    padding: 24px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  /* Header giống trang Quản lý người dùng */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
 

  
  /* Form container */
  .add-user-container {
    margin-right: 10px !important;
    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Form nội dung */
  .add-user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
  }
  
  .form-field {
    margin-bottom: 16px;
  }
  
  .submit-button {
    margin-top: 16px;
    background-color: #4a7df4;
    color: white;
    text-transform: none;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #375fcf;
  }
  