  /* .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  /* .header-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  } */
  
  .add-user-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 4px;
  }
  
  .form-field {
    margin-bottom: 16px;
  }
  
  .submit-button {
    margin-top: 16px;
    background-color: #4a7df4;
    color: white;
    text-transform: none;
    font-weight: bold;
  }
  
  .submit-button:hover {
    background-color: #375fcf;
  }
  