.css-70zvr5-MuiTableContainer-root {
    border-radius: 15px !important;
}
.css-bmnu5q-MuiTableCell-root{
     border-bottom: none !important;
}
.css-1v24lve-MuiPaper-root-MuiTableContainer-root{
    border-radius: 16px !important;
}
