.stats-header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
    margin-top: 0.2%;
}
.info-box:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}


.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    flex: 4;
    border-radius: 15px;
}

.info-box:nth-child(1) {
    background: linear-gradient(135deg, #0152a9, #87CEEB); /* Xanh lam */
}

.info-box:nth-child(2) {
    background: linear-gradient(135deg, #008080, #40E0D0); /* Xanh ngọc */
}

.info-box:nth-child(3) {
    background: linear-gradient(135deg, #6A5ACD, #B19CD9); /* Tím lạnh */
}

.info-box:nth-child(4) {
    background: linear-gradient(135deg, #2E8B57, #90EE90); /* Xanh lá lạnh */
}


.icon {
    font-size: 1.6em;
    margin-right: 12%;
    margin-left: 12%;
    color: white;
}

.info-title {
    color: white !important;
    font-size: 0.9em !important;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-count {
    color: white !important;
    font-size: 1em !important;
}
