/* Thêm các thay đổi responsive cho sidebar */
@media (max-width: 46.1875em) {
  .MuiDrawer-paper {
    width: 100%;
    position: absolute;
    z-index: 1100;
    box-shadow: none; /* Xóa box-shadow khi sidebar mở */
    margin-top: 0;
  }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .MuiDrawer-paper {
    width: 240px;
    position: absolute;
    z-index: 1100;
    box-shadow: none;
  }
}

@media (min-width: 64em) {
  .MuiDrawer-paper {
    width: 270px;
    position: relative;
    box-shadow: none;
  }
}

.custom-list-item-text {
  color: var(--dark-grey);
  font-size: 0.4em !important;
}

.custom-list-item-icon {
  color: var(--dark-grey) !important;
  font-size: 1.1em;
  min-width: 40px;
  justify-content: center;
}

.custom-list-item:hover .custom-list-item-text,
.custom-list-item:hover .custom-list-item-icon {
  color: var(--blue) !important;
}

.custom-list-item.active .custom-list-item-text,
.custom-list-item.active .custom-list-item-icon {
  color: var(--blue) !important;
}

.submenu-text {
  color: var(--dark-grey);
  margin-left: 10px;
}

.submenu-text span {
  font-size: 0.85em !important;
}

.submenu-list-item.active .submenu-text {
  color: var(--blue) !important; 
}

.custom-list-item.active {
  background-color: var(--hover-sidebar);
  border-radius: 15px !important;
}

.custom-list-item:hover {
  background-color: var(--hover-sidebar) !important;
  border-radius: 15px !important;
}

.submenu-list-item.active {
  background-color: var(--hover-sidebar);
  border-radius: 15px !important;
}

.submenu-list-item:hover {
  background-color: var(--hover-sidebar) !important;
  border-radius: 15px !important;
}

.css-z2qibm-MuiListItem-root,
.css-66b8d4-MuiListItem-root {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Thanh cuộn */
.MuiDrawer-paper::-webkit-scrollbar {
  width: 0.25em;
}

.MuiDrawer-paper::-webkit-scrollbar-thumb {
  background-color: #d8d8d877 !important;
  border-radius: 3px;
  height: 0.1em !important;
}

.submenu-list-item:hover .submenu-text {
  color: var(--blue) !important;
}

.css-rizt0-MuiTypography-root {
  font-size: 0.9rem !important;
  font-weight: 500 !important; 
}
