footer {
  border-top: 5px solid #1a73e8;
  width: 100%;
  /* height: 26.25em; */
  /* margin: auto; */
  background: #ffffff !important;
  height: auto;
}
.topInfo {
  display: flex;
  /* padding: 1em 1em; */
  justify-content: space-between;
  /* gap: 1em; */
  text-align: center;
  background: #f5f5f5;
}

/* Định dạng từng cột */
.footer-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.footer-item img {
  width: 4em; /* Kích thước ảnh */
  height: 4em;
  margin-bottom: 0.6em;
}

.footer-item span {
  font-size: 1em;
  color: #666666;
  margin-top: 8px;
  font-weight: 700;
}
.info {
  background: #ffffff;
}

.info {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0px 3%;
}
/* Định dạng cho phần footer-info */
.footer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Căn lề trái */
  text-align: left; /* Văn bản lề trái */
}
.footer-info img {
  width: 70%;
  height: 4.5em;
}
.footer-info span {
  font-size: 15px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}
.footer-info span svg {
  width: 1.5em;
  height: 1.5em;
}

.footer-info h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  color: #000; /* Màu chữ tiêu đề */
  text-align: left !important;
}

.info-bot {
  padding: 0em 5.5em;
}

.footer-info ul {
  list-style-type: none; /* Xóa dấu đầu dòng */
  padding: 0;
  margin: 0;
}

.footer-info ul li {
  margin-bottom: 2px;
}

.footer-info ul li a {
  text-decoration: none; /* Xóa gạch chân */
  color: #000;
  font-size: 13px;
  font-weight: 500;
}

.footer-info ul li a:hover {
  /* Bỏ gạch chân khi hover */
  text-decoration: none;
  color: #2bbef9; /* Đổi màu chữ khi hover */
}

.info .info-bot .footer-info .social {
  display: flex;
  align-items: center;

  column-gap: 1em;
  /* a {
    :hover {
      background: #1a73e8;
      color: #ffffff;
      border-radius: 50%;
    }
  } */
}

.social svg {
  width: 1.25em;
  height: 1.25em;
}
/* Responsive: Điều chỉnh khi màn hình nhỏ */
@media (max-width: 768px) {
  .topInfo {
    flex-direction: row;
    gap: 0.625em;
  }

  .footer-item {
    margin-bottom: 0.625em;
  }
}
/* Định dạng chữ mặc định */

/* Khi màn hình nhỏ hơn 1024px (Tablet) */
@media (max-width: 1024px) {
  footer {
    font-size: 14px; /* Kích thước chữ nhỏ hơn trên Tablet */
  }
  .footer-info h4 {
    font-size: 15px; /* Tiêu đề nhỏ hơn */
  }
  .footer-info ul li a {
    font-size: 12px; /* Chữ trong danh sách nhỏ hơn */
  }
  .topInfo {
    flex-wrap: wrap; /* Cho phép wrap khi màn hình trung bình */
    justify-content: space-between;
    margin-top: 0.5em;
  }
  .footer-item span {
    font-size: 0.6em;
  }
  .social svg {
    width: 1em;
    height: 1em;
  }
}

/* Khi màn hình nhỏ hơn 768px (Mobile) */
@media (max-width: 768px) {
  footer {
    font-size: 12px; /* Kích thước chữ nhỏ hơn trên Mobile */
  }
  .footer-info h4 {
    font-size: 8px !important  ; /* Tiêu đề nhỏ hơn */
    margin-bottom: 0;
  }
  .footer-info ul li a {
    font-size: 7px; /* Chữ trong danh sách nhỏ hơn */
  }
  .info-bot {
    padding: 0 !important;
  }
  .footer-info span {
    font-size: 6px;
  }
}
