.stats-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 16px; 
  margin-top: 0.4%; 
}

.info-box {
  display: flex;
  flex-direction: row; 
  align-items: center;
  padding: 14px;
  flex: 1;
  border-radius: 20px; 
}

.info-box:nth-child(1) {
  background: #f5d5cbdc; /* Soft Coral */
  color: #b23a2e;    /* Deep Coral */
}

.info-box:nth-child(2) {
  background: #d3ecca; /* Light Green */
  color: #4b8f29;     /* Forest Green */
}

.info-box:nth-child(3) {
  background: #ffe9b2; /* Soft Yellow */
  color: #c7891c;      /* Golden Yellow */
}

.info-box:nth-child(4) {
  background: #f8d3e9; /* Soft Pink */
  color: #b12a74;      /* Deep Pink */
}

.icon {
  font-size: 1.8em; 
  margin-right: 10%;
  margin-left: 8%;
}

.info-title {
  color: black !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  margin-bottom: 5px;
}

.info-count {
  color: black;
  font-size: 1em !important; 
  font-weight: 400 !important; 
}
.css-1pv42cs-MuiTypography-root {
  color: var(--dark) !important;
}

.css-1yqzad6 {
  margin-top: 2%;
}

.icon-button-small {
  font-size: 1.2rem !important; 
}

.icon-button-small {
  margin: 0 5px; 
  transition: transform 0.2s ease-in-out;
}

.icon-button-small:hover {
  transform: scale(1.2); 
}

.custom-table {
  background-color: var(--light) !important; 
  border-radius: 15px !important; 
  overflow: hidden !important;
  box-shadow: none !important;
}

.custom-table .MuiTableHead-root th {
  color: var(--dark); 
  font-weight: bold;
  text-align: center;
}

.custom-table .MuiTableRow-root:hover {
  background-color: #e3f2fd54;
}

.MuiTableCell-head {
  background-color: #42a7ff8d !important;
}
