.otpBox input {
  border: 0.1em solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 0.25em;
  .otpBox input:focus {
    border: 1px solid rgba(0, 0, 0, 0.7) !important;
  }
  .otpBox .container {
    height: 90vh;
    display: flex;
  }
}
