/* CSS cho HeaderCard */

.headerCard {
  padding: 7px 7px;
  background: linear-gradient(175deg, #0080f0, #e8f4ff);
  border-radius: 15px;
  /* margin-top: 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tiêu đề */
.headerTitle {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 1.1em !important;
  margin-left: 0.5em !important;
}

/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 0.5em !important;
  font-size: 0.85em !important;
}

/* Mobile styles */
@media (max-width: 46.1875em) {
  .headerCard {
    flex-direction: column;
    /* padding: 8px; */
  }

  .headerTitle {
    font-size: 1em;
    margin-left: 0;
  }

  .breadcrumbs {
    font-size: 0.75em;
    margin-right: 0;
  }
}

/* Tablet styles */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .headerCard {
    padding: 8px;
    flex-direction: row;
  }

  .headerTitle {
    font-size: 1.05em;
    margin-left: 0.5em;
  }

  .breadcrumbs {
    font-size: 0.8em;
    margin-right: 0.5em;
  }
}

/* Desktop styles */
@media (min-width: 64em) {
  .headerCard {
    padding: 10px;
    flex-direction: row;
  }

  .headerTitle {
    font-size: 1.1em;
    margin-left: 0.5em;
  }

  .breadcrumbs {
    font-size: 0.85em;
    margin-right: 0.5em;
  }
}
