.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #0f5bcd, #2bbef9);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.title {
  font-size: 1.2em;
}

.countdown-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.countdown {
  display: flex;
  gap: 5px;
}

.time-box {
  background-color: rgb(35, 159, 221);
  color: white;
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
