/* .add-subcategories main {
    position: absolute;
    top: 12%;
    left: 22.5%;
    right: 2.5%;
  } */
  
  .add-subcategories-info-container {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    margin-top: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  .input-container label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
  }
  
  .input-container select,
  .input-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  .add-button {
    background-color: var(--blue);
    color: var(--light);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: block; 
    text-align: center;  
}
  
  .add-button:hover {
    background-color: #454545;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  