header {
  background-color: #1a73e8;
  width: 100%;
  height: auto;
  opacity: 80%;

  /* position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  bottom: 3.253m;
  z-index: 1000;  */
  /* margin-bottom: 3em; */
}

header a img {
  background: #1a73e8;
  display: flex;
  justify-content: flex-end;
  width: 70%;
  /* height: 4em; */
  margin-left: 20%;
}
.p-2 {
  padding: 0.35rem;
}
header .carTab {
  margin-right: 5%;
  margin-left: 3em;
}
header .user {
  min-width: 2.8em !important;
  height: 2.8em !important;
  border-radius: 50% !important;
  padding: 0px;
  color: #000;
}
header .user button svg {
  width: 2.4em;
  height: 2.5em;
  top: 0em;
  color: #ffffff;
}
.css-1588512-MuiButtonBase-root-MuiButton-root {
  padding: 6px 8px !important;
  min-width: 1.25 !important;
  text-transform: unset !important;
}

header .user span {
  font-size: 0.875em;
  line-height: 0.875em;
  color: #ffffff;
  font-weight: 600;
  margin-left: 5px;
}
header .user .count {
  position: absolute;
  top: 0.6em;
  left: -1.5em;
  background: rgb(255, 66, 79);
  border-radius: 50%;
  color: #fff;
  width: 0.94em;
  height: 0.94em;
}
.bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(#ffffff / var(--tw-bg-opacity, 1));
}
.profile {
  z-index: 12.5em !important;
}
