/* Container cho tiêu đề và thanh công cụ */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white); /* Nền cho toàn tiêu đề */
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .header-title {
    font-size: 20px;
    font-weight: bold !important;
    color: var(--dark);
  }
  
  .header-breadcrumb {
    font-size: 14px !important;
    color: var(--dark);
    margin-right: 10px !important; /* Khoảng cách giữa breadcrumb và nút "Thêm người dùng" */
  }
  
  /* Nút "Thêm người dùng" */
  .add-user-btn {
    background-color: #4a7df4; /* Màu xanh */
    color: var(--white);
    text-transform: none;
    font-size: 14px;
    border-radius: 6px;
  }
  
  .add-user-btn:hover {
    background-color: #375fcf; /* Màu xanh đậm hơn khi hover */
  }
  
  .user-management {
    padding: 16px;
    background-color: #f9f9f9;
  }
  
  .MuiTableCell-root {
    font-size: 14px;
  }
  
  .MuiTableCell-head {
    font-weight: bold;
    background-color: #f1f1f1;
  }
  