.product_listing_Page {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 9em;
}
.Cart {
  margin-left: 1.5em;
  margin-right: 3%;
}

.productList {
  margin-left: 1.5em;
  margin-top: 1.5em;
}
.all_pro_bot {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.product_item {
  cursor: pointer;
}

.all_pro_bot button {
  width: 30% !important;
}

/* .productCart:hover {
  transform: scale(1.1);
} */
