.subcategories-list main {
    position: absolute; 
    top: 12%; 
    left: 22.5%; 
    right: 2.5%;
    
  }
  
  .subcategories-info-container {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    margin-top: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    
  }

  .subcategories-list main {
    position: absolute;
    top: 12%;
    left: 22.5%;
    right: 2.5%;
  }
  
  .subcategories-info-container {
    background-color: var(--white);
    border-radius: 15px;
    padding: 20px;
    margin-top: 2%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
  
  #subcategories-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #subcategories-table th, #subcategories-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .subcategory-badge {
    background-color: var(--blue);
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
  }