.css-1toxriw-MuiList-root-MuiMenu-list {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
    border-radius: 10px !important;
}

.css-1tktgsa-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    border-radius: 10px !important;
}

.css-1vhi99h {
    margin-top: -1em;
}