/* .products-list main {
  position: absolute; 
  top: 12%; 
  left: 22.5%; 
  right: 2.5%;
} */




.products-list main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 24px;
    margin-top: 2%;
    transform: scale(1);
    transform-origin: top left;
  }
  
  .products-list main .box-info li {
    padding: 15px;
    background: var(--white);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 15px;
  }
  
  .products-list main .box-info li .bx {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .products-list main .box-info li:nth-child(1) .bx {
    background: var(--light-blue);
    color: var(--blue);
  }
  
  .products-list main .box-info li:nth-child(2) .bx {
    background: var(--light-yellow);
    color: var(--purple);
  }
  
  .products-list main .box-info li:nth-child(3) .bx {
    background: var(--green);
    color: var(--orange);
  }
  
  .products-list main .box-info li:nth-child(4) .bx {
    background: var(--light-orange);
    color: var(--yellow);
  }
  
  .products-list main .box-info li:nth-child(5) .bx {
    background: var(--light-purple);
    color: var(--lato);
  }
  
  .text {
    color: var(--dark);
  }
  
  .products-list main .box-info li .text h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark);
  }
  
  .products-list main .box-info li .text p {
    color: var(--dark);
  }