* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");
body {
  font-family: "Lato", sans-serif;
}
.bg-blue {
  background: rgb(15, 91, 205);
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  container-sm,
  container-xl {
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

/* .container {
  max-width: 90%;
} */

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}
.headerWrapper .top-strip p {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}
.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 170px;
  height: 60px;
  min-width: 170px;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 15px !important;
}
.headerWrapper .header .part2 .countryDrop {
  text-align: left;
  justify-content: flex-start !important;
}
.headerWrapper .header .part2 .countryDrop .lable {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.4) !important;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #233a95 !important;
  font-weight: 700;
  line-height: 16px;
}
.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  width: 100;
  height: 45px;
  border: 0px !important; /* Bỏ đường viền đen xung quanh */
  padding: 0px 25px !important;
}
.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.headerSearch button {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 100;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
  color: #000;
}
header .headerSearch button svg {
  font-size: 25px;
  opacity: 0.8;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px !important;
  height: 45px !important;
  width: 45 px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}
header .part3 .circle svg {
  font-size: 22px;
}

.cartTab button {
  background: #fff1ee !important;
}
.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  /* display: flex; */
  width: 20px;
  height: 20px;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.locationModal .countryList li {
  width: 100%;
  list-style: none;
}
.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 20px !important;
}

.locationModal .countryList li button :hover {
  background: #f1f1f1;
}

/* .locationModal .countryList li button .active {
  background: #f1f1f1 !important;
} */

.locationModal .close_ {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000 !important;
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
}
.locationModal .close_ svg {
  font-size: 22px;
}
nav .navPart1 {
  max-width: 30%;
  flex: 0 0 30%;
}
nav .navPart2 {
  max-width: 70%;
  flex: 0 0 70%;
}

nav .navPart1 .catWrapper {
  position: relative;
}
nav .navPart1 .catWrapper .sidebarNav {
  width: 75%;
  height: 0px;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 125%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}
nav .navPart1 .catWrapper .sidebarNav.open {
  height: auto;
  opacity: 1;
  visibility: inherit;
}
nav .navPart1 .catWrapper .sidebarNav ul li {
  width: 100%;
  list-style: none;
  font-size: 18px;
  padding: 0px 15px;
}
nav .navPart1 .catWrapper .sidebarNav ul li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}
nav .navPart1 .catWrapper .sidebarNav ul li button :hover {
  background: transparent !important;
}

nav .allCatTab {
  background: #2bbef9;
  padding: 10px 15px !important;
  border-radius: 30px !important;
}
nav .allCatTab * {
  color: #fff;
}
nav .allCatTab:hover {
  background: #2bbef9;
}
nav .allCatTab .text {
  font-weight: 600;
  /* font-size: 14px; */
}

nav .allCatTab .icon1 svg {
  font-size: 20px !important;
}

nav .allCatTab .icon2 svg {
  font-size: 15px !important;
}

nav .navPart2 ul {
  margin-bottom: 0px;
}

nav .navPart2 ul li a {
  text-decoration: none;
}

nav .navPart2 ul li a button {
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase; /*  Viết hoa*/
  display: flex;
  align-items: center;
  padding: 10px 50px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

.homeBannerSection {
  position: relative;
  overflow: hidden;
}
.homeBannerSection * {
  opacity: none !important;
}
.homeBannerSection .slick-arrow {
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #000;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
}
.homeBannerSection .slick-arrow.slick-next {
  right: 25px !important;
}
.homeBannerSection .slick-arrow.slick-prev {
  left: 25px !important;
}

.homeBannerSection .slick-arrow.slick-next::before {
  font-family: FontAwesome !important;
  color: #fff;
}
.homeBannerSection .slick-arrow.slick-prev::before {
  font-family: FontAwesome !important;
  color: #fff;
}
