@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap'); 
* {
  	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
:root {
	--white: #ffffff;
	--light: #fefefe;
	--blue: #2679ee;
	--light-blue: #e0f0ff;
	--grey: #f7f7f7;
	--dark-grey: #AAAAAA;
	--dark: rgb(0, 0, 0);
	--red: #DB504A;
	--yellow: #f6ff00cd;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #f8d2c2;
	--purple: #ab57f0;
	--pink: #f5cbf3;
	--green: #ddffce;
	--light-purple: #c1bcfb;
	--sidebar: #bad7ff;
}

body.dark {
	--white: #111111ec;
	--light: #111111ec;
	--grey: #363744;
	--dark: #ffffffe0;
	--blue: #6eb9ff;
	--light-blue: #438bf1e1;
	--sidebar: #96c0fb94;
	--light-yellow: #ffdf75d5;
	--green: #ddffcecc;
	--light-orange: #f8d2c2bf;

}

body {
	background: var(--grey);
	overflow-x: hidden;
}

.text {
	color: var(--dark);
  }

  