@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0em;
  padding: 0em;
  box-sizing: border-box;
}
@media (min-width: 1280px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100%;
  }
}

#root {
  padding: 0rem !important;
  max-width: 100% !important;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  background-color: #dfdcff44;
  overflow-x: hidden;
}

/* .container {
  width: 90%;
  margin: 0em;
} */
.cartPanel .MuiPaper-root {
  width: 25em;
  overflow: hidden;
}
.header,
.footer {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  opacity: 1;
  visibility: visible;
}

.header.hidden,
.footer.hidden {
  opacity: 0;
  visibility: hidden;
}
